.about[data-v-c597b300] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 48px;
}
.logo img[data-v-c597b300] {
  width: 96px;
  height: 96px;
}
.info[data-v-c597b300] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
}
.title[data-v-c597b300] {
  font-size: 24px;
  color: var(--color-text-primary);
}
.version[data-v-c597b300] {
  margin-top: 8px;
  font-size: 16px;
  color: var(--color-text-desc);
}