
.item[data-v-167ea120] {
  display: flex;
  flex-direction: column;
  background: var(--color-item-color);
  padding: 16px 24px;
  margin: 16px 16px;
  border-radius: 8px;
.master[data-v-167ea120] {
    display: flex;
    flex-direction: row;
}
.icon img[data-v-167ea120] {
    width: 48px;
    height: 48px;
    border-radius: 8px;
}
.content[data-v-167ea120] {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: auto;
    flex: 1;
    margin-left: 16px;
    margin-right: 16px;
}
.add button[data-v-167ea120] {
    width: 100%;
    height: 100%;
}
.exp[data-v-167ea120] {
    display: flex;
    justify-content: right;
}
}
details summary[data-v-167ea120] {
  list-style-type: none;
}

