.title[data-v-17ac8efc] {
  color: #8f8fa6;
  font-size: 18px;
  margin-bottom: 16px;
}
.item[data-v-17ac8efc] {
  background: var(--color-item-color);
  padding: 16px 24px;
  margin: 16px 16px;
  border-radius: 8px;
}
.space_between[data-v-17ac8efc] {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.space_row[data-v-17ac8efc] {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 54px;
}
.space_row + .space_row[data-v-17ac8efc] {
  margin-top: 16px;
}
.test[data-v-17ac8efc] {
  margin: 16px 16px;
  display: flex;
  justify-content: right;
  justify-items: center;
  align-items: center;
}