.item[data-v-6ed9b9b0] {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 16px 24px;
  margin: 16px;
  background: var(--color-item-color);
  border-radius: 8px;
}